---
layout: default
---
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>{{ site.title }}</h1>
							<p>{{ site.description }}</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- One == Blog Posts -->
					<section id="one" class="wrapper style2 spotlights">
						{% assign posts_list = site.posts %}
						{% for node in posts_list %}
							{% if node.title != null %}
								{% if node.layout == "post" %}


									<section>
										<a class="internal image" href="{{ node.url }}">
											<img
											src="{{ site.baseurl }}{{ node.images[0]}}"
											alt="{{ node.title }}"
											data-position="center center" />
										</a>
										<div class="content">
											<div class="inner">
												<h2>{{ node.title }}</h2>
												<p>
													{{ node.description }}
												</p>
												<ul class="actions">
													<li>
														<a class="internal button" href="{{ node.url }}">
															Read more
														</a>
													</li>
												</ul>
											</div>
										</div>
									</section>


								{% endif %}
							{% endif %}
						{% endfor %}
					</section>

				<!-- Two = Site Features -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>What we do</h2>
							<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>

							<div class="features">

								{% assign features_list = site.features %}
                {% for node in features_list %}
                  {% if node.title != null %}

									<section>
										<span class="icon major {{ node.icon }}"></span>
										<h3>{{ node.title }}</h3>
										<p>{{ node.description }}</p>
										<ul class="actions">
											<li><a class="internal button" href="{{ node.url }}">Learn more</a></li>
										</ul>
									</section>

									{% endif %}
								{% endfor %}

							</div>
							<!--
							<ul class="actions">
								<li><a href="#" class="button">Learn more</a></li>
							</ul>
						-->
						</div>
					</section>

				<!-- Three == contact-->
					<section id="three" class="wrapper style1 fade-up">
						{% include contact.html %}
					</section>

			</div>
