<!-- Sidebar -->
  <section id="sidebar">
    <div class="inner">

      {% include pagesmenu.html %}
      <!-- homepage sections -->
      <div class="sidebar-about">
        <h4>
          About
        </h4>
        <p class="lead">{{ site.description }}</p>
      </div>
      <nav>
        <ul>
          <li><a class="internal" href="{{ site.url }}{{ site.baseurl }}#intro">Welcome</a></li>
          <li><a class="internal" href="{{ site.url }}{{ site.baseurl }}#one">Who we are</a></li>
          <li><a class="internal" href="{{ site.url }}{{ site.baseurl }}#two">What we do</a></li>
          <li><a class="internal" href="{{ site.url }}{{ site.baseurl }}#three">Get in touch</a></li>
        </ul>
      </nav>
    </div>
  </section>
