<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container" id="wrapper">
      <!-- Header -->
        <header id="header">
          <a href="index.html" class="title">{{ site.title }}</a>
          {% include pagesmenu.html %}
        </header>



       <!-- Main -->
         <section id="main" class="wrapper">

           <div class="inner">
             <h1 class="major">{{ page.title }}</h1>
             {% if page.images[0] %}
             <span class="image fit">
               <img src="{{ site.baseurl }}{{ page.images[0] }}" alt="{{ page.title }}" />
             </span>
             {% endif %}
             {{ content | replace: '<a href="http', '<a rel="nofollow" target="_blank" href="http' }}
             <hr>
             <div class="related">
               <h2>Related Posts</h2>
               <ul class="related-posts">
                 {% for post in site.related_posts limit:3 %}
                   <li>
                     <h3>
                       <a href="{{ post.url }}">
                         {{ post.title }}
                         <small>{{ post.date | date_to_string }}</small>
                       </a>
                     </h3>
                   </li>
                 {% endfor %}
               </ul>
             </div>
           </div>
         </section>

    </div>

    {% include footer.html %}

  </body>
</html>
